.chat {
  height: calc(70%);
}

.chatHead {
  background-color: var(--learn);
}

.chatContainer {
  width: 100%;
  height: calc(100% - 28px);
}

.chatBox {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
}

.chatViewEntry {
  width: 100%;
  padding: 1vh;
  font-size: 16px;
  border-bottom: 1px solid var(--borderColor);
  cursor: pointer;
}

.chatViewEntry:hover {
  background-color: #bedf8f4d;
}

.chatBack {
  position: absolute;
  left: 0;
  margin: 4px;
  cursor: pointer;
}

.chatExpand {
  position: absolute;
  right: 0;
  margin: 4px;
  cursor: pointer;
}

.chatUserInfo {
  width: 100%;
  padding: 1vh;
  box-shadow: 0px 2px 3px 0px #b3657326;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chatUserInfoExpanded {
  box-shadow: none;
  border-bottom: 1px solid var(--borderColor);
}

.chatThumb {
  width: 48px;
  aspect-ratio: 1;
  border-radius: 100%;
  margin-bottom: 6px;
  box-shadow: 0px 2px 3px 0px #b365735c;
}

.chatMessages {
  width: 100%;
  height: calc(100% - 82px);
  overflow: scroll;
  overflow-x: hidden;
}

.messageEntry {
  width: 100%;
  font-size: 14px;
}

.messageText,
.messageHead {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5vh 1vh;
  align-items: flex-start;
}

.messageHead {
  border-top: 1px solid var(--borderColor);
  font-weight: bold;
  margin-top: 2px;
}

.dateEl {
  opacity: 0;
  transition: opacity 0.5s;
  align-self: flex-end;
}

.messageHead:hover .dateEl {
  opacity: 0.8;
}

.messageHead:is(.friendSent) {
  cursor: pointer;
}

.messageText {
  white-space: pre-wrap;
}

.userSent:not(.messageHead) {
  text-align: right;
  justify-content: flex-end;
}

.chatInputContainer {
  width: 100%;
  height: 130px;
  border-top: 1px solid var(--borderColor);
  flex: none;
}

.chatInputButtons {
  width: 32px;
  height: 100%;
  flex: none;
  padding: 1vh 1vh 1vh 0;
  justify-content: space-between;
}

.chatInputButton {
  cursor: pointer;
}

.chatInput {
  width: calc(100% - 2vh);
  margin: 1vh;
  padding: 1vh;
  box-sizing: border-box;
  height: 110px;
  white-space: pre-wrap;
}