.auth {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.loginForm {
  height: 50%;
  padding: 2vh;
  justify-content: space-around;
  border-radius: 32px;
  background: linear-gradient(to top, var(--trTeal), transparent);
  box-shadow: var(--cardShadow);
}

.loginInputs {
  margin-bottom: 4vh;
}

.formInput, .formSubmit {
  width: 240px;
  height: 32px;
  border: 1px solid var(--trTeal);
  padding: 0 1vh;
  margin: 4px;
  box-sizing: border-box;
  border-radius: 32px;
  outline: none;
}

.formSubmit {
  background-color: var(--teal);
  color: white;
  cursor: pointer;
}

.signUpText, .backButton {
  cursor: pointer;
}