.main {
  width: 100%;
  height: 100%;
}

.social, .wing {
  width: 240px;
  height: 100%;
  flex: none;
}

.social {
  border-right: 1px solid;
}

.wing {
  border-left: 1px solid;
}

.friends {
  height: 30%;
  width: 100%;
  border-bottom: 1px solid;
}

.updates {
  height: 45%;
  width: 100%;
  border-bottom: 1px solid;
}

.feed {
  width: 100%;
  height: 100%;
  padding: 2vh;
}

.postContainer {
  width: 80%;
  height: 200px;
}

.postButtons {
  background-color: var(--teal);
  color: white;
  width: 80%;
  justify-content: center;
  border-radius: 12px;
}

textarea {
  margin: 1vh;
  padding: 2vh;
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  resize: none;
  border: 1px solid var(--teal);
  border-radius: 12px;
  outline: none;
  font-family: Jost;
}

.home {
  width: 90%;
}

.posts, .post, .postHead {
  width: 100%;
}

.post {
  border: 1px solid;
  border-radius: 12px;
  margin: 2vh 0;
  padding: 1vh 1vh 0;
  box-sizing: border-box;
}

.postContent {
  padding: 1vh;
  min-height: 80px;
  justify-content: center;
}