.main {
  width: 100%;
  margin-top: 48px;
  height: calc(100svh - 48px);
}

.social, .wing {
  width: 240px;
  height: 100%;
  flex: none;
}

.friends,
.chat,
.global {
  width: calc(100% - 2vh);
  overflow: hidden;
  flex: auto;
}

.cardHead {
  width: 100%;
  height: 28px;
  background: linear-gradient(45deg, transparent, #ffffff44);
  padding: 0 1vh;
  font-size: 16px;
  align-items: inherit;
  flex: none;
}

.feed {
  width: 100%;
  height: 100%;
  padding: 2vh;
  overflow-x: unset;
  overflow-y: scroll;
}

textarea {
  margin: 1vh;
  padding: 2vh;
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  resize: none;
  border: var(--border);
  border-radius: 12px;
  outline: none;
  font-family: Jost;
}

.page {
  width: 90%;
}

.actionBox {
  padding: 1vh;
  border: 1px solid var(--borderColor);
  width: 100%;
  height: 72px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .wing, .social {
    width: 0;
    visibility: hidden;
  }
}