.main {
  width: 100%;
  margin-top: 48px;
  height: calc(100svh - 48px);
}

.social, .wing {
  width: 240px;
  height: 100%;
  flex: none;
}

.friends,
.chat,
.global {
  width: calc(100% - 2vh);
  overflow: hidden;
}

.friends {
  height: 30%;
  border-bottom: var(--border);
}

.friendsHead,
.chatHead,
.globalHead {
  width: 100%;
  height: 28px;
  background: linear-gradient(45deg, transparent, #ffffff44);
  padding: 0 1vh;
  font-size: 16px;
  /* font-weight: bold; */
  align-items: end;
}

.friendsHead {
  background-color: var(--grow);
}

.friendsList {
  overflow-y: auto;
}

.friendEntry {
  width: 100%;
  padding: 1vh;
  font-size: 18px;
  border-bottom: 1px solid var(--borderColor);
  justify-content: flex-start;
  align-items: center;
}

.friendStatus {
  margin-right: 1vh;
  height: 80%;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--learn);
}

.chat {
  height: 70%;
}

.chatHead {
  background-color: var(--learn);
}

.chatMessages {
  height: 90%;
  overflow: auto;
  overflow-x: hidden;
}

.messageEntry {
  font-size: 16px;
  padding: 0.5vh 1vh;
  border-bottom: 1px solid var(--borderColor);
}

.chatInputContainer {
  width: 100%;
  border-top: 1px solid var(--borderColor);
}

.chatInput {
  width: calc(100% - 2vh);
  margin: 1vh;
  padding: 1vh;
  box-sizing: border-box;
  height: auto;
}

.global {
  height: 60%;
}

.globalHead {
  background-color: var(--play);
}

.globalMessages {
  overflow: auto;
  overflow-x: hidden;
}

.globalEntry {
  font-size: 16px;
  padding: 0.5vh 1vh;
  border-bottom: 1px solid var(--borderColor);
  align-items: flex-start;
}

.feed {
  width: 100%;
  height: 100%;
  padding: 2vh;
  overflow-x: unset;
  overflow-y: scroll;
}

textarea {
  margin: 1vh;
  padding: 2vh;
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  resize: none;
  border: var(--border);
  border-radius: 12px;
  outline: none;
  font-family: Jost;
}

.page {
  width: 90%;
}

.actionBox {
  padding: 1vh;
  border: 1px solid var(--borderColor);
  width: 100%;
  height: 72px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .wing, .social {
    width: 0;
    visibility: hidden;
  }
}