.nav {
  width: 100%;
  padding: 1vh;
  box-sizing: border-box;
  border-bottom: 1px solid;
}

.search {
  width: 240px;
  height: 32px;
  border: 1px solid;
  border-radius: 32px;
}

.navButton {
  cursor: pointer;
}