.nav {
  width: 100%;
  padding: 1vh;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border);
}

.title, .util {
  width: calc(240px - 1vh);
}

.util {
  justify-content: flex-end;
}

.search {
  width: 240px;
  height: 32px;
  border: 1px solid var(--border);
  border-radius: 32px;
}

.navButton, .loginButton {
  cursor: pointer;
  cursor: pointer;
}

.navButton{
  transition: transform 0.25s;
}

.navButton:hover {
  transform: scale(1.2, 1.2) translate(1vh, 0);
}