.profile {
  width: 90%;
}

.cardContainer {
  position: relative;
  align-self: baseline;
}

.profileCard,
.profileHead {
  height: 150px;
  width: 100%;
  padding: 1vh;
}

.profileLeft {
  cursor: pointer;
}

.profileCard {
  position: absolute;
  left: -0.5vh;
  width: 420px;
  background: white;
  margin: 0;
  box-shadow: 0px 2px 8px 0px #b365734a;
  z-index: 9;
}

.friendPopup {
  background-color: white;
  top: -50px;
  border-radius: 12px;
  border: var(--border);
  padding: 1vh 1.75vh;
}

.popupOption {
  min-width: 100px;
  text-align: center;
  height: 24px;
  border-radius: 6px;
  cursor: pointer;
}

.pfp {
  height: 100px;
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
}

.pfpImg {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.bio {
  width: 100%;
  height: 100%;
  padding: 0 1vh;
  justify-content: space-between;
  align-items: flex-start;
}

.badges {
  flex-wrap: wrap;
  position: absolute;
  left: 0;
}

.badge {
  background: linear-gradient(12deg, transparent 60%, #ffffff5e);
  font-size: 14px;
  font-weight: bold;
  padding: 0px 8px;
  margin: 2px;
  border-radius: 6px;
}

.editHeadline {
  border-radius: 12px;
  width: 100%;
}

.editBio {
  margin: 4px;
  padding: 0.5vh 1vh;
  width: 100%;
  height: 72px;
  resize: none;
}

.editButtons {
  height: 100%;
  justify-content: space-between;
  padding: 4px;
}

.editButton {
  cursor: pointer;
}